<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>MVP Deployment </title>

  </head>

    <body 
    style=" margin:4; padding:4">

    <h3 ALIGN="CENTER"> Build List</h3>
<div class="row">
  <div class="col-md-12" >
      <div class="panel panel-default"  style = "margin:4; padding:4">
            <table class="table">
              <tr>
                <th>Id</th>
                <th>Circleci url</th>
                <th>Committed by</th>
                <th>Branch</th>
                <th>Deployment status</th>
              </tr>
             
              {% for list_item in build_list %}
               <tr>
               <td> <a href="{% url 'details' list_item.id %}">{{ list_item.id}}</a></td>
                <td><a href="{{ list_item.circleci_url }}">{{ list_item.circleci_url }}</a></td>
                <td>{{ list_item.commitor }}</td>
                <td>{{ list_item.branch }}</td>
                <td>{{ list_item.deployment_status }}</td>
                </tr>
              {% endfor %}

              
    
         </table>
          </div>

    </div>
    </div>

  </body>

</html>
